.features-item {
    position: relative;
    padding-left: 90px;
    padding-bottom: 2rem;

    @mixin atSmall {
        padding-left: 90px;
    }


    &__icon {
        display: block;
        margin: 0 auto;

        @mixin atSmall {
            position: absolute;
            left: 0;
        }
    }
}