.wrapper {
    padding: 0 30px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    &--medium {
        max-width: 976px;
        margin-right: auto;
        margin-left: auto;
    }

    .wrapper {

        padding-right: 0;
        padding-left: 0;
    }
}